.containerss {
  display: flex;
  flex-direction: column;
  gap: 7px;
  position: relative;
  color: black;
}

.containerss .label {
  font-size: 15px;
  padding-left: 10px;
  position: absolute;
  top: 13px;
  transition: 0.3s;
  pointer-events: none;
}

.inputs {
  height: 45px;
  border: none;
  outline: none;
  padding: 0px 7px;
  border-radius: 6px;
  color: black;
  font-size: 15px;
  background-color: #c7f8ff71;
  box-shadow: 3px 3px 10px rgb(218, 216, 216),
  -1px -1px 6px rgb(207, 206, 206);
  border: 1px solid black;
}

.inputs:focus {
  border: 2.5px solid black;
  color: black;
  /* box-shadow: 3px 3px 10px rgba(0,0,0,1),
  -1px -1px 6px rgba(255, 255, 255, 0.4),
  inset 3px 3px 10px rgba(0,0,0,1),
  inset -1px -1px 6px rgba(255, 255, 255, 0.4); */
}

/* .containerss .inputs:valid ~ .label,
.containerss .inputs:focus ~ .label {
  transition: 0.3s;
  padding-left: 2px;
  transform: translateY(-35px);
} */

.containerss .inputs:valid,
.containerss .inputs:focus {
  /* box-shadow: 3px 3px 10px rgb(53, 53, 53),
  -1px -1px 6px rgba(255, 255, 255, 0.4),
  inset 3px 3px 10px rgb(66, 65, 65),
  inset -1px -1px 6px rgba(255, 255, 255, 0.4); */
}